name: Latest Blog Posts

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://idean3885.github.io/feed.xml"
          max_post_count: 5
          template: "$newline- [$title]($url)"
          commit_message: "docs: update blog posts"
